body{
    background-color: #353839;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-weight: 200;
}

main{
    text-align: center;
    position: absolute;
    width: 90%;
    line-height: 20px;
}

form{
    margin-top: 2px;
    margin-left: 420px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color:#397da6;
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

input#botton{
    margin-left: 90px;
}

img{
    margin-left: 30px;
    max-width: 150px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    text-decoration: none;
    color: white;
}
