<main>
    
    <aside>
        <div class="mb-3">
            <h3><label for="perfilFormControlTextarea" class="form-label">Perfil</label></h3>
            <textarea class="form-control" id="perfilFormControlTextarea" rows="2"></textarea>
        </div>

        <div class="mb-3">
            <h3><label for="celularFormControlInput1" class="form-label">Celular</label></h3>
            <input type="text" class="form-control" id="celularFormControlInput" placeholder="(00) 00000-0000">
        </div>

        <div class="mb-3">
            <h3><label for="linkedinFormControlInput1" class="form-label">Linkedin</label></h3>
            <input type="text" class="form-control" id="linkedinFormControlInput"> 
        </div>

        <div class="mb-3">
            <h3><label for="exampleFormControlInput1" class="form-label">Email</label></h3>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        
        <div class="mb-3">
            <h3><label for="cidadeDataList" class="form-label">Cidade</label></h3>
            <input class="form-control" list="cidadelistOptions" id="cidadeDataList" placeholder="My city...">
            <datalist id="cidadelistOptions">
                <option value="Dois Vizinhos - PR">
                <option value="Realeza - PR">
                <option value="Salto do Lontra - PR">
                <option value="Francisco Beltrão - PR">
            </datalist>
        </div>

        <div class="mb-3">
            <h3><label for="habilidadesFormControlTextarea" class="form-label">Habilidades</label></h3>
            <textarea class="form-control" id="habilidadesFormControlTextarea" rows="2"></textarea>
        </div>

        <div class="mb-3">
            <h3><label for="experienciaFormControlTextarea" class="form-label">Experiencia</label></h3>
            <textarea class="form-control" id="experienciaFormControlTextarea" rows="1"></textarea>
        </div>

        <div class="mb-3">
            <h3><label for="linguagensFormControlTextarea" class="form-label">Linguagens</label></h3>
            <textarea class="form-control" id="linguagensFormControlTextarea" rows="1"></textarea>
        </div>

        <div class="mb-3">
            <h3><label for="educacaoFormControlTextarea" class="form-label">Educação</label></h3>
            <textarea class="form-control" id="educacaoFormControlTextarea" rows="1"></textarea>
        </div>
    </div>
    </aside>
</main>