<header>
    <div>
        <a href="index.html"><h1>Cloud</h1></a>
    </div>
    <a href="config.html"><img src="../img/man.png" alt="User"></a>
</header>

<main>
    <div class="conteudo">
        <div class="curriculum-users">
            <div>
                {{#each cadastros}}
                    <h2>{{teste}}</h2>
                {{/each}}
                <img src="../img/man.png" class="img-curriculum" alt="Profile">
            </div>
            <div class="user">
                <h5 class="name"></h5>
                <h5 class="age"></h5>
                <h5 class="area"></h5>
            </div>
            <div class="user">
                <h5 class="company"></h5>
                <h5 class="experience"></h5>
                <h5 class="activity"></h5>
            </div>
        </div>
    </div>
</main>