<header>
    <div>
        <h1>Cloud</h1>
    </div>

    <ul>   
        <a href="#"><li>Sobre</li></a>
        <a href="#" id="inscreva-se-btn"><li>Login</li></a>
    </ul>
</header>

<main>
    <aside>
        <h2><span>Inscreva-se agora</span></h2>
        <h2><span>na Cloud</span></h2>
        <form action="/add" method="POST">
            <input type="text" placeholder="Nome" required="required" name="nome">
            <input type="email" placeholder="E-mail" required="required" name="email">
            <input type="password" placeholder="Senha" required="required" name="senha">
            <input type="password" placeholder="Confirmar senha" required="required" name="senhaConfirm">
            <input type="submit" value="Inscrever-se">
        </form>
    </aside>
    <article>
        <img src="/img/computacao-em-nuvem.png" alt="Robo">
    </article>
</main>